<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
    <link rel="icon" type="image/png" href="https://www.freeiconspng.com/uploads/animal-icon-png-1.png">
</head>
<body>
    <div class="container">
        <h2>Forgot Password</h2>
        <form id="forgotPasswordForm" method="POST">
            <h1 class="form-title">Lupa Password</h1>
            <input type="email" id="forgotEmail" name="email" placeholder="Masukkan Email Anda" required />
            <div id="forgotErrorContainer"></div>
            <button type="submit">Reset Password</button>
            <button id="backToLogin">Back to Login</button>
        </form>
        
    </div>
    <script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>
</body>
</html>
