<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman dalam Perbaikan</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/under_construction.css') }}" />
    <link rel="icon" type="image/png" href="https://www.freeiconspng.com/uploads/animal-icon-png-1.png">
</head>
<body>
    <div class="container">
        <i class="fas fa-tools icon"></i> <!-- Ikon tools -->
        <h1>Halaman ini Sedang Dalam Perbaikan</h1>
        <p>Mohon maaf, halaman yang Anda tuju sedang dalam perbaikan. Kami sedang bekerja untuk memperbaikinya secepat mungkin.</p>
        <a href="/" class="back-button">Kembali</a>
    </div>
</body>
</html>
